.container {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.number {
  font-weight: 600;
  line-height: 1.25;
}
